@font-face {
  font-family: "Graphik Web Regular";
  src: url("http://db.onlinewebfonts.com/t/105007d99d9df64c50cc24d696d79555.eot");
  /* IE9*/
  src: url("http://db.onlinewebfonts.com/t/105007d99d9df64c50cc24d696d79555.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */
    url("http://db.onlinewebfonts.com/t/105007d99d9df64c50cc24d696d79555.woff2") format("woff2"),
    /* chrome firefox */
    url("http://db.onlinewebfonts.com/t/105007d99d9df64c50cc24d696d79555.woff") format("woff"),
    /* chrome firefox */
    url("http://db.onlinewebfonts.com/t/105007d99d9df64c50cc24d696d79555.ttf") format("truetype"),
    /* chrome firefox opera Safari, Android, iOS 4.2+*/
    url("http://db.onlinewebfonts.com/t/105007d99d9df64c50cc24d696d79555.svg#Graphik Web Regular") format("svg");
  /* iOS 4.1- */
}

*{
  font-family: "Graphik Web Regular", sans-serif;
  text-decoration: none;
}

body {
  background-color: white;
}

/* Navbar styling*/

.navbox {
  overflow: hidden;
  background-color: white;
  text-align: center;
  margin-left: 0%;
  margin-right: 0%;
  list-style: none;
}
.navAthemes {
  float: left;
  font-size: 16px;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  margin-left: 20%;
}
.navbar {
  overflow: hidden;
  background-color: white;
  color: #55647B;
  text-align: center;
  margin-left: 60%;
  margin-right: 10%;
}
.navbar a {
  float: left;
  font-size: 16px;
  color: #55647B;
  text-align: center;
  padding: 16px 16px;
  text-decoration: none;
  margin-left: 0%;
}
.dropdown {
  float: left;
  overflow: hidden;
}
.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: #55647B;
  padding: 16px 16px;
  background-color: inherit;
  font-family: inherit;
  margin-left: 0%;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 160px;
  }
.dropdown-content a {
  float: none;
  color: #55647B;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}
.dropdown:hover .dropdown-content {
  display: block;
}

/* Header styling*/

header {

}

/* Main Content styling*/

main {

}

.mainbox {
  background-color: white;
  margin-left: 20%;
  margin-right: 20%;
  padding-bottom: 50px;
  height: auto;
}
.story-title {
  text-align: center;
  padding-bottom: 30px;
}
.story-title h1 {
  font-size: 40px;
  font-weight: bold;
  color: #131A2B;
}
.story-title h2 {
  font-size: 18px;
  color: #55647B;
}
.story-box {
  float: left;
  width: 100%;
  background-color: white;

}
.story-box-left {
  float: left;
  width: 50%;
}
.story-box-left img {
  float: left;
  width: 569px;
}
.story-box-left h1  {
  font-size: 30px;
  font-weight: bold;
  color: #131A2B;
}
.story-box-left h2 {
  font-size: 18px;
  line-height: 1.5;
  color: #55647B;
}
.story-box-right  {
  float: left;
  width: 50%;
}
.story-box-right img {
  float: left;
  width: 569px;
}
.story-box-right h1  {
  font-size: 30px;
  font-weight: bold;
  color: #131A2B;
}
.story-box-right h2 {
  font-size: 18px;
  line-height: 1.5;
  color: #55647B;
}

.story-padding {
  float: left;
  width: 100%;
  background-color: white;
  height: 150px;
}

/* footer styling*/

footer {
  font-family: sans-serif;
  display: block;
  overflow: hidden;
  padding: 5% 20%;
  background-color: #f0f4f8;
  color: black;
}
.footerbox {
  display: block;
  width: 100%;
  margin: 0;
  height: 100%;
}
.footer-head {
  float: left;
  width: 100%;
  height: 100%;
  border-bottom: 1px solid #e0e6ee;
}
.footer-head-Social {
  float: left;
  line-height: 1.5;
  font-size: 20px;
  width: 33.33%;
  display:flex;
  flex-wrap: wrap;
  height: 100%;
  }
.footer-head-news {
  float: left;
  line-height: 1.5;
  font-size: 20px;
  width: 66.66%;
  display:flex;
  flex-wrap: wrap;
  height: 100%;
  }
.footer-body {
  width: 100%;
  float: left;
  height: 100%;
  display: block;
  color: #55647b;
}
.footer-bodybox1 {
  padding-top: 60px;
  padding-right: 50px;
  padding-bottom: 15px;
  width: 320px;
  float: left;
  height: 100%;
  display: block;
  color: #55647b;
}
.footer-bodybox2 {
  padding-top: 60px;
  padding-right: 50px;
  width: 20%;
  float: left;
  height: 100%;
  text-align: left;
  display: block;
  color: black;
}
.footer-linkbox a {
  text-decoration: none;
  width: 100%;
  color: #55647b;
  text-align: left;
}
.footer-bodybox3 {
  padding-top: 60px;
  padding-right: 30px;
  padding-left: 75px;
  width: 33.33%;
  float: left;
  height: 100%;
  display: block;
  color: black;
}
.footer-foot {
  float: left;
  width: 100%;
  height: 100%;
  display: block;
  }
