@font-face {
  font-family: "Graphik Web Regular";
  src: url("http://db.onlinewebfonts.com/t/105007d99d9df64c50cc24d696d79555.eot");
  /* IE9*/
  src: url("http://db.onlinewebfonts.com/t/105007d99d9df64c50cc24d696d79555.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */
    url("http://db.onlinewebfonts.com/t/105007d99d9df64c50cc24d696d79555.woff2") format("woff2"),
    /* chrome firefox */
    url("http://db.onlinewebfonts.com/t/105007d99d9df64c50cc24d696d79555.woff") format("woff"),
    /* chrome firefox */
    url("http://db.onlinewebfonts.com/t/105007d99d9df64c50cc24d696d79555.ttf") format("truetype"),
    /* chrome firefox opera Safari, Android, iOS 4.2+*/
    url("http://db.onlinewebfonts.com/t/105007d99d9df64c50cc24d696d79555.svg#Graphik Web Regular") format("svg");
  /* iOS 4.1- */
}
* {
  font-family: "Graphik Web Regular", sans-serif;
  text-decoration: none;
}

body {
  background-color: white;
}

/* Navbar styling*/

.navbox {
  overflow: hidden;
  background-color: white;
  text-align: center;
  margin-left: 0%;
  margin-right: 0%;
  list-style: none;
}
.navAthemes {
  float: left;
  font-size: 16px;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  margin-left: 20%;
}
.navbar {
  overflow: hidden;
  background-color: white;
  color: #55647B;
  text-align: center;
  margin-left: 60%;
  margin-right: 10%;
}
.navbar a {
  float: left;
  font-size: 16px;
  color: #55647B;
  text-align: center;
  padding: 16px 16px;
  text-decoration: none;
  margin-left: 0%;
}
.dropdown {
  float: left;
  overflow: hidden;
}
.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: #55647B;
  padding: 16px 16px;
  background-color: inherit;
  font-family: inherit;
  margin-left: 0%;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 160px;
}
.dropdown-content a {
  float: none;
  color: #55647B;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}
.dropdown:hover .dropdown-content {
  display: block;
}

/* Header styling*/

header {
  font-family: sans-serif;
  font-size: 40px
  line-height: 1.4;
  margin-top: 70px;
  margin-left: 30%;
  padding-bottom: 20px;
  width:40%;
  background-color: white;
  color: black;
}

/* Main Content styling*/

.mainbox {
  font-family: sans-serif;
  font-size: 18px;
  display: block;
  overflow: hidden;
  width: 40%;
  margin-left: 30%;
  margin-right: 30%;
  background-color: white;
  color: #55647b;
}
.main-form {
  padding-top: 20px;
  width: 100%
  display:inline-block;
  color: #131A2B;
}
.form-grid-left {
  float: left;
  margin-right: 10px;
}
.main-form-right {
  float: left;

}
input[type=submit] {
    padding:15px 30px;
    background:#ccc;
    border:0 none;
    border-radius: 2px;
    background-color: #4769D8;
    color: white;
    font-size: 20px;
}
input[type=text] {
  width: 300px;
  height: 35px;
  border: 1px solid #ecf1f7;
  border-radius: .15rem;
}
input[type=textarea] {
  width: 650px;
  height: 175px;
  border: 1px solid #ecf1f7;
  border-radius: .15rem;
}

/* footer styling*/

footer {
  font-family: sans-serif;
  display: block;
  overflow: hidden;
  padding: 5% 20%;
  background-color: #f0f4f8;
  color: black;
}
.footerbox {
  display: block;
  width: 100%;
  margin: 0;
  height: 100%;
  background-color: inherit;
}
.footer-head {
  float: left;
  width: 100%;
  height: 100%;
  border-bottom: 1px solid #e0e6ee;
  background-color: inherit;
  padding-bottom: 60px;
}
.footer-head-Social {
  float: left;
  line-height: 1.5;
  font-size: 20px;
  width: 33.33%;
  display:flex;
  flex-wrap: wrap;
  background-color: inherit;
  }
.footer-head-news {
  float: left;
  line-height: 1.5;
  font-size: 20px;
  width: 66.66%;
  display:flex;
  flex-wrap: wrap;
  background-color: inherit;
}
.footer-body {
  width: 100%;
  float: left;
  height: 100%;
  display: block;
  color: #55647b;
  background-color: inherit;
}
.footer-bodybox1 {
  padding-top: 60px;
  padding-right: 50px;
  padding-bottom: 15px;
  width: 320px;
  float: left;
  height: 100%;
  display: block;
  color: #55647b;
  background-color: inherit;
}
.footer-bodybox2 {
  padding-top: 60px;
  padding-right: 50px;
  width: 20%;
  float: left;
  height: 100%;
  text-align: left;
  display: block;
  color: black;
  background-color: inherit;
}
.footer-linkbox a {
  text-decoration: none;
  width: 100%;
  color: #55647b;
  text-align: left;
  background-color: inherit;
}
.footer-bodybox3 {
  padding-top: 60px;
  padding-right: 30px;
  padding-left: 75px;
  width: 33.33%;
  float: left;
  height: 100%;
  display: block;
  color: black;
  background-color: inherit;
}
.footer-foot {
  float: left;
  width: 100%;
  height: 100%;
  display: block;
  background-color: inherit;
}
.footer-email {
  width: 410px;
  height: 55px;
  margin-top: 10px;
  padding-top: 10px;
  padding-left: 10px;
  color: #131a2b;
  display: inline-block;
  background-color: white;
  border-radius: 5px;
}
